<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- Mybatis가 JDBC를 사용하기위해 기본적인 Connection과 SQL을 생성하는 곳 -->
<configuration>

	<!-- DB연결 정보가 담겨 있는 파일(db.properties) -->
	<properties resource="com/smhrd/db/db.properties" />

	<typeAliases>
 		<typeAlias type="com.smhrd.model.n1UserVO" alias="UserVO"/>
 		<typeAlias type="com.smhrd.model.autoCourseVO" alias="autoCourseVO"/>
 		<typeAlias type="com.smhrd.model.n5CreateScheduleVO" alias="createScheduleVO"/>
 		<typeAlias type="com.smhrd.model.n4MyTripsVO" alias="MyTripsVO"/>
 		<typeAlias type="com.smhrd.model.myScheduleVO" alias="myScheduleVO"/>
 		<typeAlias type="com.smhrd.model.PoiVO" alias="PoiVO"/>
 		<typeAlias type="com.smhrd.model.n3PreferenceVO" alias="PreferenceVO"/>
 		<typeAlias type="com.smhrd.model.n7TourCourseVO" alias="TourCourseVO"/>
 		<typeAlias type="com.smhrd.model.tagInfoVO" alias="tagInfoVO"/>
 		<typeAlias type="com.smhrd.model.myCourseVO" alias="myCourseVO"/>
	
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <!-- SQL문을 JAVA파일과 별도 관리 (기능별로 파일 추가하면 됨, mapper태그 추가)-->
  <mappers>
    <mapper resource="com/smhrd/db/courseMapper.xml"/>
    <mapper resource="com/smhrd/db/UserMapper.xml"/>
    <mapper resource="com/smhrd/db/SearchMapper.xml"/>
  </mappers>
</configuration>