body{
    margin: 0;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    padding: 8px 12px;
    box-sizing: border-box;
	z-index: 1000;
	top: 0;
	right: 0;
	width: 100%;	
	/* 
	position: sticky;
	text-align: center;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #f0f0f0;
	padding: 10px;
	box-sizing: border-box;
	z-index: 1000; */
}

.navbar___logo{
    font-size: 24px;
    color: black;
}

.navbar___logo i {
    color: black;
}

.navbar___menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar___menu li{
    padding: 8px 12px;
}
.navbar___personal{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar___personal li{
    padding: 8px 12px;
}

.navbar___menu li:hover {
    background-color: green;
    border-radius: 4px;
}

.local-nav-sticky .local-nav {
  position: fixed;
  top: 0px;
  border-bottom: 0.001px solid #e5e8eb;
  background-color: blueviolet;
}

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar___menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar___menu li{
        width: 100%;
        text-align: center;
    }
}