@charset "EUC-KR";

        *,
        *::before,
        *::after {
          box-sizing: border-box;
        }
   
        body {
          min-height: 100vh;
          margin: 0;
          padding: 1rem;
          font-family: "Roboto", sans-serif;
          color: var(--gray);
          background-color: #FFFFFF
          ;
        }
        
        .container {
          min-height: 100vh;
          display: grid;
          grid-gap: 40px;
          align-content: center;
        }
        
        .main {
          display: block;
          align-self: start;
        }
        
        button,
        input,
        select 
        {
          font-family: inherit;
          font-size: 100%;
          line-height: 1.15;
          margin: 0;
        }
        
        button,
        input {
          overflow: visible;
        }
        
        button,
        select {
          text-transform: none;
        }
 
        [type="checkbox"],
        [type="radio"] {
          box-sizing: border-box;
          padding: 0;
        }
        
        .header {
          align-self: center;
          text-align: center;
          margin-top: 20px;
        }
        
        .header__title {
          margin: 0;
          font-size: 2em;
          line-height: 1.2;
        }
        
        .header__description {
          margin-bottom: 0.5rem;
          font-size: 1em;
          line-height: 1.4;
        }
        
        .form-group1 {
          display: inline-block;
          margin-right: 30px;
        }

        .illustration {
          width: 100%;
          border-style: none;
        }
        
        /* progressbar */
        @media (min-width: 700px) { 
          .container {
            grid-template-columns: 1fr 1fr;
            max-width: 1400px;
            margin: 0 auto;
            align-items: center;
          }
        
          .header,
          .main {
            grid-row: 1;
          }
        }
        
        .progressbar {
          margin: 2rem 1rem 2rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          counter-reset: list;
          height: 20px;
        }
        
        .progressbar__step {
          position: relative;
          width: 20%;
          line-height: 1.4;
        }
        
        .progressbar__step.active:before {
          background-color: #65553B;
          color : #FFFFFF
        }
        
        .progressbar__step:nth-child(2)::after,
        .progressbar__step:nth-child(3)::after,
        .progressbar__step:nth-child(4)::after 
        {
          content: "";
          position: absolute;
          left: -100%;
          top: 12px;
          z-index: -1;
          width: 100%;
          height: 2px;
          background-color: #B0A591;
        }
        
        .progressbar__step.active:nth-child(2)::after,
        .progressbar__step.active:nth-child(3)::after,
        .progressbar__step.active:nth-child(4)::after

        {
          background-color: #65553B;
        }
        
        .progressbar__step:before {
          counter-increment: list;
          content: counter(list);
          position: absolute;
          display: block;
          width: 25px;
          height: 25px;
          font-size: 0.85rem;
          background-color: #fff;
          text-align: center;
          border: 3px solid #fff;
          border-radius: 100%;
        }
        
        .survey {
          display: flex;
          flex-direction: column;
        }
        
        .survey__panel {
          display: none;
          padding: 1rem;
        }
        
        .survey__panel--impormation {
          display: block;
        }
        
        .survey__panel__question {
          margin: 0 0 1.5rem;
          font-size: 1.35em;
          line-height: 1.2;
        }
        
        .error-message {
          height: 14px;
          margin-bottom: 0;
          margin-top: 5px;
          font-size: 0.85rem;
          color: #d61616;
        }
        
        [role="alert"] {
          display: block;
        }
        
        .radio,
        .radio:checked,
        .radio:not(:checked),
        .checkbox,
        .checkbox:not(:checked) {
          opacity: 0;
        }
        
        .radio:checked + label,
        .radio:not(:checked) + label,
        .checkbox:checked + label,
        .checkbox:not(:checked) + label {
          position: relative;
          padding-left: 30px;
        }
        
        .radio:checked + label:before,
        .radio:not(:checked) + label:before,
        .checkbox:checked + label:before,
        .checkbox:not(:checked) + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          border: 1px solid #ddd;
          border-radius: 100%;
          background-color: #fff;
        }
        
        .radio:not(:checked) + label:after,
        .checkbox:not(:checked) + label:after {
          opacity: 0;
          transform: scale(0);
        }
        
        .radio:checked + label:after,
        .checkbox:checked + label:after {
          opacity: 1;
          transform: scale(1);
        }
        
        .survey__panel--impormation label,
        .survey__panel__tourism label,
        .survey__panel__food label,
        .survey__panel__sleep label {
          line-height: 2.3;
        }
      
        .survey__panel .radio {
          margin-left: 10px;
        }
        
        .checkbox:checked + label:before,
        .checkbox:not(:checked) + label:before {
          border-radius: 0;
        }
        
        .checkbox:checked + label:before {
          background-color: #65553B ;
        }
        
        /* 체크박스 체크 모양 */
        .checkbox:checked + label:after,
        .checkbox:not(:checked) + label:after {
          content: "";
          position: absolute;
          left: 4px;
          top: 7px;
          width: 2px;
          height: 2px;
          background-color: #fff;
          box-shadow: 2px 0 0 #fff, 4px 0 0 #fff,
            4px -2px 0 #fff, 4px -4px 0 #fff,
            4px -6px 0 #fff, 4px -8px 0 #fff;
          transform: rotate(45deg);
          transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86),
            opacity 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86),
            background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
        input[type="radio"] {
          appearance: none;
        }

        input[type="radio"]::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid #ddd;
          background-color: #fff; 
          margin-right: 5px;
        }

        input[type="radio"]:checked::before {
          background-color:#65553B; 
          width: 12px; 
          height: 12px;
          border: 2px solid #fff;
          margin: 3px;
        }
 
        .button {
          display: inline-block;
          padding: 10px 25px;
          background-color: #B0A591;
          color: #fff;
          border: 2px solid #B0A591;
          border-radius: 3px;
          font-size: 0.875rem;
          font-family: inherit;
          cursor: pointer;
        }
        
        button[disabled] {
          display: none;
        }
        
        .button {
          margin: 0 0.5rem;
        }
      
        .visuallyhidden {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          white-space: nowrap;
          width: 1px;
        }